<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
		<meta name="format-detection" content="telephone=no" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>imobile</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="./mapbox-gl-dev.js"></script>
		<link href="./mapbox-gl.css" rel="stylesheet" />
		<script>
			window.mapboxgl = mapboxgl
    </script>
    	<script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="cordova_plugins.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
