<template>
  <div class="home">
    <Map></Map>
  </div>
</template>

<script>
// @ is an alias to /src
import Map from "@/components/Map.vue";

export default {
  name: "Home",
  components: {
    Map,
  },
};
</script>

<style lang="stylus" scoped>
.home
  width 100%
  height 100%
</style>