<template>
  <div>
    <div id="map"></div>
    <MapSelector></MapSelector>
  </div>
</template>

<script>
let chinaData = require("@/assets/map/china.json");

window.mapboxgl.accessToken =
  "pk.eyJ1Ijoid2hpc3BlcmNoaSIsImEiOiJja2lsdmt3OGQwbmVqMnpzdnVjMWFzc3QyIn0.Vy5xrUwR5-o2EyNh4LCg1g";

import MapSelector from "./MapSelector";

export default {
  name: "mapbox",
  components: {
    MapSelector,
  },
  props: {},
  data() {
    return {
      backgroundStyle: require("@/assets/map/background.json"),
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.init();
  },
  methods: {
    init: function() {
      const re = this.$re;
      let config = {};
      if (re === "Android") {
        config.mapResource = "file:///android_asset/www/map";
      } else if (re === "Web") {
        config.mapResource = location.origin + "/map";
      }
      config.sprite = config.mapResource + "/sprite/sprites";
      config.glyphs = config.mapResource + "/fonts/{fontstack}/{range}.pbf";
      this.backgroundStyle = require('@/assets/map/background.json')
      this.backgroundStyle.sprite = config.sprite;
      this.backgroundStyle.glyphs = config.glyphs;
      this.backgroundStyle.sources["china"].data = chinaData;

      this.map = new window.mapboxgl.Map({
        container: "map",
        style: this.backgroundStyle,
        attributionCOntrol: false,
        doubleClickZoom: false,
        minZoom: 1,
        preserveDrawingBuffer: true,
      });
      window.map = this.map;
    },
  },
  watch: {},
};
</script>

<style lang="stylus" scoped>
#map
  position absolute
  top 0
  bottom 0
  width 100%
  height 100%
  left: 0;
  top:0
</style>
