<template>
  <div class="mapselector">
    <ul>
      <li @click="load1" class="item">
        <input type="checkbox" name="it" v-model="checked1" />影像
      </li>
      <li @click="load2" class="item">
        <input type="checkbox" name="it" v-model="checked2" />地形
      </li>
      <li @click="load3" class="item">
        <input type="checkbox" name="it" v-model="checked3" />天空
      </li>
      <li @click="load4" class="item">
        <input type="checkbox" name="it" v-model="checked4" />矢量
      </li>
    </ul>
  </div>
</template>

<script>
import {
  loadImage,
  loadTerrain,
  removeImage,
  removeTerrain,
  loadSky,
  removeSky,
} from "./MapOperator.js";
export default {
  data() {
    return {
      checked1: false,
      checked2: false,
      checked3: false,
      checked4: false,
    };
  },

  methods: {
    load1: function() {
      this.checked1 = !this.checked1;
      if (this.checked1) {
        loadImage(this.$re);
      } else {
        removeImage();
      }
    },
    load2: function() {
      this.checked2 = !this.checked2;
      if (this.checked2) {
        loadTerrain(this.$re);
      } else {
        removeTerrain();
      }
    },
    load3: function() {
      this.checked3 = !this.checked3;
      if (this.checked3) {
        loadSky();
      } else {
        removeSky();
      }
    },
    load4: function() {},
   
  },
};
</script>

<style lang="stylus" scoped>
.mapselector
    z-index: 2;
    position: absolute;
    right: 50px
    top: 0px
    .item
        color: green
</style>
