<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="stylus">
#app
    font-family 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    position absolute
    width 100%
    height 100%
    overflow hidden
    user-select none
    padding:0
    margin:0  
    left: 0
    top:0
</style>
